@font-face {
     font-family: "Silkscreen-Bold";
     src: url("assets/fonts/Silkscreen-Bold.ttf");
     font-weight: 100;
   }
   @font-face {
     font-family: "Silkscreen-Regular";
     src: url("assets/fonts/Silkscreen-Regular.ttf");
     font-weight: 300;
   }

   * {
     box-sizing: border-box;
   }
   
body { 
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}